USE [master]
GO
/****** Object:  Database [Filmy]    Script Date: 14.06.2020 23:14:02 ******/
CREATE DATABASE [Filmy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmyNext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FilmyNext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmyNext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FilmyNext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Filmy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Filmy]
GO
/****** Object:  Table [dbo].[Filmy]    Script Date: 14.06.2020 23:14:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmy](
	[IdFilmu] [int] IDENTITY(1,1) NOT NULL,
	[Tytuł] [nvarchar](100) NOT NULL,
	[RokWydania] [int] NULL,
	[CzasTrwania] [int] NULL,
	[Ograniczenia] [int] NULL,
	[OcenaIMDB] [float] NULL,
	[Obejrzany] [bit] NULL,
	[Fabuła] [nvarchar](500) NULL,
	[IdUzytkownika] [int] NOT NULL,
	[LinkDoObrazka] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Filmy] PRIMARY KEY CLUSTERED 
(
	[IdFilmu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownik]    Script Date: 14.06.2020 23:14:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownik](
	[IdUzytkownika] [int] IDENTITY(1,1) NOT NULL,
	[Nickname] [nvarchar](32) NULL,
	[Login] [nvarchar](32) NULL,
	[Haslo] [nvarchar](32) NULL,
 CONSTRAINT [PK_Uzytkownik] PRIMARY KEY CLUSTERED 
(
	[IdUzytkownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filmy]  WITH CHECK ADD  CONSTRAINT [FK_Filmy_Uzytkownik] FOREIGN KEY([IdUzytkownika])
REFERENCES [dbo].[Uzytkownik] ([IdUzytkownika])
GO
ALTER TABLE [dbo].[Filmy] CHECK CONSTRAINT [FK_Filmy_Uzytkownik]
GO
USE [master]
GO
