<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net48" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Fody" version="6.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.0.1" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.2.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="4.2.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.2.0" targetFramework="net48" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net48" />
  <package id="Metro.Dialogs" version="0.0.0.2" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.4" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net48" />
  <package id="RestSharp" version="106.11.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>